:root {
    /* Colors */
    --background-color: #f2f2f2;
    --tab-hover-color: #f9f9f9;
    --hover-color: #f0f0f0;
    --foreground-color: #ffffff;
    --theme-color: #2c666e;
    --darkened-theme-color: #225157;

    --text-color: #000000;
    --secondary-text-color: #636466;
    --grayed-out-text-color: #909090;
    --theme-text-color: #ffffff;

    --inverse-background-color: #212121;
    --inverse-text-color: #ffffff;
    --inverse-secondary-text-color: #bdbdbd;

    --error-color: red;

    --shadow-color: #888888;

    --neutral-separator-color: lightgray;

    /* Stolen from ftcscores <3 */
    --color-team-transparency: 0.15;
    --color-team-red: var(--paper-red-500);
    --color-team-red-transparent: rgba(244, 67, 54, var(--color-team-transparency));
    --color-team-blue: var(--paper-blue-500);
    --color-team-blue-transparent: rgba(33, 150, 243, var(--color-team-transparency));
    --color-team-neutral: var(--paper-purple-a700);
    --color-team-neutral-transparent: rgba(170, 0, 255, var(--color-team-transparency));
    --color-team-text: white;
    --zebra-stripe-color: rgb(245, 245, 245);

    /* Stat colors */
    --stat-transparency: 0.15;
    --stat-heading-text-color: white;
    --red-stat-color: var(--paper-red-500);
    --red-stat-color-transparent: rgba(244, 67, 54, var(--stat-transparency));
    --blue-stat-color: var(--paper-blue-700);
    --blue-stat-color-transparent: rgba(25, 118, 210, var(--stat-transparency));
    --light-blue-stat-color: var(--paper-blue-500);
    --light-blue-stat-color-transparent: rgba(33, 150, 243, var(--stat-transparency));
    --green-stat-color: var(--paper-green-600);
    --green-stat-color-transparent: rgba(67, 160, 71, var(--stat-transparency));
    --purple-stat-color: var(--paper-purple-a700);
    --purple-stat-color-transparent: rgba(170, 0, 255, var(--stat-transparency));

    --modal-background-color: rgb(0, 0, 0);
    --modal-background-color: rgba(0, 0, 0, 0.4);

    /* Fonts */
    --main-font: "Inter", sans-serif;
    --tiny-font-size: 10px;
    --small-font-size: 13px;
    --font-size: 16px;
    --large-font-size: 19px;
    --h2-font-size: 24px;
    --h1-font-size: 32px;

    /* Sizes */
    --navbar-size: 60px;
    --sidebar-size: 300px;

    --small-gap: 4px;
    --medium-hap: 6px;
    --gap: 8px;
    --large-gap: 12px;
    --vl-gap: 22px;
    --xl-gap: 32px;

    --small-padding: 4px;
    --ms-padding: 6px;
    --padding: 8px;
    --ml-padding: 10px;
    --large-padding: 12px;

    /* Utility */
    --pill-border-radius: 999999px; /* Using an overly large value produces a pill shape. */
}

/* Resets */

button {
    color: inherit;
    padding: 0;
    margin: 0;
}

body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

@media (max-width: 800px) {
    :root {
        --tiny-font-size: 8px;
        --small-font-size: 11px;
        --font-size: 14px;
        --large-font-size: 16px;
        --h2-font-size: 20px;
        --h1-font-size: 28px;

        /* Sizes */
        --navbar-size: 50px;

        --small-gap: 2px;
        --medium-hap: 4px;
        --gap: 6px;
        --large-gap: 10px;
        --vl-gap: 15px;
        --xl-gap: 20px;

        --small-padding: 2px;
        --ms-padding: 4px;
        --padding: 6px;
        --ml-padding: 8px;
        --large-padding: 10px;
    }
}

@media (max-width: 550px) {
    :root {
        --tiny-font-size: 6px;
        --small-font-size: 8px;
        --font-size: 11px;
        --large-font-size: 13px;
        --h2-font-size: 18px;
        --h1-font-size: 22px;

        /* Sizes */
        --navbar-size: 60px;

        --small-gap: 2px;
        --medium-hap: 4px;
        --gap: 6px;
        --large-gap: 10px;
        --vl-gap: 15px;
        --xl-gap: 20px;

        --small-padding: 2px;
        --ms-padding: 4px;
        --padding: 5px;
        --ml-padding: 6px;
        --large-padding: 7px;
    }
}

body {
    background-color: var(--background-color);

    color: var(--text-color);
    font-size: var(--font-size);

    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: var(--main-font);
}

h1 {
    font-size: var(--h1-font-size);
    margin-top: var(--large-gap);
    margin-bottom: var(--large-gap);
}

h2 {
    font-size: var(--h2-font-size);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
